# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.java text
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.xml text
*.properties text
*.yml text
*.yaml text
*.md text
*.sql text

# Scripts
*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.jar binary
*.war binary
*.ear binary
